
@import url('fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

@import url('fonts.googleapis.com/css?family=EB+Garamond&display=swap');

*{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.container{
  height:100vh;
  width:100vw;
;
}
.container_half{
  height:50vh;
  width:100vw;
}
.container_double{
  height:150vh;
  width:100vw;
}

.topic_link{
  color:white;
  text-decoration: none;
  transition: 0.2s;
}
.topic_link:hover{
  color:black;
  transition: 0.2s;
}

.topic_menu{
  width: 15vw;
  height: 25vh;
  float: left;
}

.topic_initial{
  text-align: center;
  font-size: 7vw;
  margin-bottom: 0;
}

.topic_name{
  text-align: center;
  font-size: 1vw;
}

.topic_title{
  text-align: center;
  top: 41vh;
  font-size: 8vw;
  position: absolute;
  left:21vw;
  z-index: 2;
}

.color_title{
  text-align: center;
  top: 41vh;
  font-size: 8vw;
  position: absolute;
  left:34vw;
  z-index: 2;
}
.navigator{
  float: right;
  width: 35vw;
  height: 20vw;
  text-align: center;
  color: black;
  padding:2%;
  border: 2px solid black;
  word-spacing: 25px;
}

.navigatortopic{
  float: right;
  text-align: center;
  color: black;
  padding:2%;
  word-spacing: 20px;
  margin-right: 3.5vw;
}

.navigator_topic{
  color:black;
  text-decoration:none;
  transition: 0.2s;
}
.navigator_topic:hover{
  color:white;
  text-decoration: underline;
  transition: 0.2s;
}

.paragraph{
  float:left;
  width:40vw;
  margin-left: 8vw;
  margin-right: 5vw;
  text-align: left;
}

.typography_title{
  text-align: left;
  margin-left: 0%;
  margin-top: 30%;
  margin-bottom: 10%;
  font-size: 6vw;
}

.circle1t{
  border-radius:50%;
  width:30vw;
  height:30vw;
  float:right;
  background-color:INDIANRED;
  top : 50%;
  right:-50px;
  position: absolute;
}

.circle2t{
  border-radius:50%;
  background-color:salmon;
  width:22vw;
  height:22vw;
  float:right;
  top : 42%;
  right:15%;
  position: absolute;
}

.section_right{
  width: 49vw;
  height: 100vh;
  float: right;
}
.section_left{
  width: 49vw;
  height: 100vh;
  float: left;
  border-right: 3px solid black;
}

.circle_center{
  border-radius:50%;
  background-color: seashell;
  width:33vw;
  height:33vw;
  top : 15%;
  left: 33.5%;
  position: absolute;

}

.goofy_content{
  padding: 5%;
  padding-top: 1.5%;
  font-size: 2.5vw;
}

.goofy_paragraph{
  text-align: right;
  font-size: 1.5vw;
}

.goofy_img{
  width:16vw;
  margin-left: 10%;
}
.goofy_img2{
  width:21vw;
  height:21vw;
  border-radius: 50%;
  border: 2px solid black;
  margin-left: -5%;
}
.goofy_img3{
  text-align: center;
}


.section_left2{
  width:39vw;
  height: 150vh;
  float: left;

}
.section_right2{
  width:59vw;
  height: 150vh;
  float: right;
}

.bd_title1{
  font-size: 3vw;
  text-align: center;
  padding-left: 5%;
  padding-right: 5;
  font-size:2vw;
  padding-top:10%
}
.bd_title2{
  font-size: 3vw;
  text-align: center;
  padding-left: 5%;
  padding-right: 5;
}
.bd_title3{
  font-size: 3vw;
  text-align: center;
  padding-left: 5%;
  padding-right: 5;
  font-size:2vw;
  padding-bottom:10%
}
.bd_title4{
  font-size: 3vw;
  text-align: center;
  padding-left: 5%;
  padding-right: 5;
  font-size:2vw;
}

.circle4{
  width: 60vh;
  height: 60vh;
  border: 2px solid black;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 250vh;
  right:-3vw;
  z-index: 0;
}

.section1{
  width:33vw;
  height: 100vh;
  float: left;
  border-right: 3px solid black;
}
.section2{
  width:33vw;
  height: 100vh;
  float: left;
  border-right: 3px solid black;
}
.section3{
  width:33vw;
  height: 100vh;
  float: right;
}

.circle5{
  width: 55vh;
  height: 55vh;
  border-radius: 50%;
  background-color:lightsalmon;
  position: absolute;
  top: 100vh;
  right:-4vw;
  z-index: 0;
}

.circle6{
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  background-color:indianred;
  position: absolute;
  top: 140vh;
  right:13vw;
  z-index: 0;
}

.watermark_content{
  text-align: center;
  font-size: 1.5vw;
  margin-top: 5vw;
  margin-left: 5vw;
  margin-right: 50vw;
}
.watermark_content2{
  text-align: right;
  font-size: 1.5vw;
  margin-top: 5vw;
  margin-right:5vw;
  margin-left: 50vw;
}

.sectionA{
  width:24vw;
  height: 100vh;
  float: left;
  border-right: 3px solid black;
}
.sectionB{
  width:24vw;
  height: 100vh;
  float: left;
  border-right: 3px solid black;
}
.sectionC{
  width:26vw;
  height: 100vh;
  float: left;
  border-right: 3px solid black;
}
.sectionD{
  width:24vw;
  height: 100vh;
  float: right;
}

.color_paragraph1{
  font-size: 1.5vw;
  margin-top: 35%;
  margin-left: 15%;
  margin-right: 5%
  text-align: center;
}
.color_paragraph2{
  font-size: 1.5vw;
  margin-top: 35%;
  margin-left: 5%;
  margin-right: 15%;
  text-align: center;
}

.body_image{
  height:130vh;
  border-radius:50%;
  margin: 10%;
}

.garamond{
  font-family: 'futura' ;
  font-size: 15px;
  margin-left: 3%;
}

.perpetua{
  font-family: 'futurabold', ;
}
