.header {
	width: 100%;
	height: 100%;
	background-image: url("../images/bg.jpg");
	background-size: cover;
}

.header-content {
	padding: 15rem 4.5rem;
}

#our-mission-learn-more {
	text-decoration: none;
	border-bottom: 3px solid #D28929;
}

#our-mission-learn-more:hover {
	border-bottom: 3px solid #511617;
}

.changes-sub-content{
	height: 170px;
}

.read-more {
	text-decoration: none;
	border-bottom: 3px solid #D28929;
	color: #2F5277;
}

.read-more:hover {
	border-bottom: 3px solid #2F5277;
}


.secondary-title {
	color: rgb(107, 50, 32);
}

.sub-content {
	padding: 1em 1em;
}

.content {
	padding: 3rem 10rem;
	padding-bottom: 4em;
}

.changes {
	background-color: #f9e0d7;
}

#changes-1 {
	padding: 20px 100px;
	padding-right: 400px !important;
}

#changes-2 {
	padding: 1px 100px !important;
	padding-left: 400px !important;
}

#changes-image-1 {
	margin-left: 8em;
	height: 450px;
	width: 300px;
}

#changes-image-2 {
	margin-top: -2em;
	height: 450px;
	width: 340px;
}

#movement-image-1 {
	height: 717px;
	width: 576px;
}
#movement-image-2 {
	height: 717px;
	width: 576px;
}

#mission {
	margin: -10em auto;
	padding-top: 80px;
}

.changes-image {
	margin-bottom: -11em;
	margin-top: -1em;
	padding-top: 80px;
}

.changes-content {
	background-color: #F9F6F4;
	margin: auto;
	width: 100%;
	padding:3rem 6rem;
	padding-top: 150px !important;
}

.image-responsive {
	display: none;
}

.image-responsive-reverse {
	display: block;
}

#women-1 {
	display: grid;
}

#women-2 {
	display: none;
}

#women-3 {
	display: none;
}

.movement {
	background: linear-gradient(90deg, #E1B3B1 70%, #f9f6f4 30%);
	padding: 3rem 4.5rem;
}

.women {
	z-index: 1;
	position: relative;
	display: grid;
	grid-template-columns: 45% 55%;
}

.women>div {
	padding: 1em 1em;
	padding-right: 15em;
	text-align: left;
	background-color: #ce9d9b;
	font-size: 30px;
}

.dot {
	height: 13px;
	width: 13px;
	background-color: #D28929;
	border-radius: 50%;
	display: inline-block;
}

.big-dot {
	height: 35px;
	width: 35px;
	background-color: #D28929;
	border-radius: 50%;
	display: inline-block;
}
/* #violence-against-women{
	margin-left: 2.4em;
} */
.changes-content > div > div > h2{
	padding-top: 0px !important;
}
.changes-content > div > div {
	border-left: solid #D28929 3px;
	margin-left: 100px;
}

.row {
	z-index: 1 !important;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 30%;
	max-width: 30%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

.column-6 {
	z-index: 1 !important;
	flex: 16.667%;
	padding: 0 0;
	margin: 0 0;
	max-width: 16.667%;
}

.column-6 img {
	vertical-align: middle;
	width: 100%;
}

#our-mission{
	padding: 1em 0em;
	margin-top:2em;
}

.intro > p {
	padding: 0 150px 0 0;
}

.main-title{
	line-height: 100px;
}

#overview{
	padding:40px 0;
}

#ambition{
	padding: 1rem 4.5rem;
}

@media screen and (max-width: 600px) {
	.column,
	.column-6 {
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (min-width:1440px){
	#keep-in-touch{
		padding: 1rem 4.5rem;
	}
}
@media screen and (max-width: 1441px){
	
	#changes-image-1 {
		margin-left: 5em;
		height: 450px;
		width: 300px;
	}

	#changes-image-2 {
		margin-top: -2em;
		height: 450px;
		width: 340px;
	}
}

@media screen and (max-width: 800px) {
	#ambition{
		padding: 1rem 2rem;
	}
	.header-content > p {
		width: 240px;
	}
	.changes-content > div > div {
		margin-left: 0;
	}
	hr{
		border: 1px solid #000;
	}
	#overview{
		padding: 5px 0;
		margin-left: 2rem;
		font-size: 20px;
	}
	.main-title{
		line-height: 60px;
	}
	.women {
		z-index: 1;
		position: relative;
		display: block;
  }
  
  #women-1 {
    display: block;
  }

  #women-2 {
    display: none;
  }

  #women-3 {
    display: none;
  }
	.women>div {
		padding: 1em 1em;
		text-align: left;
		background-color: #ce9d9b;
		font-size: 20px;
	}
	.image-responsive {
		display: block;
	}
	.image-responsive-reverse {
		display: none;
	}
	
	.changes-content {
		margin: auto;
		width: 100%;
		padding: 2rem 0rem;
		padding-top: 20px !important;
	}
	.changes-content>div>div {
		margin-bottom: 3rem;
		margin-left: 2rem;
		padding: 0 1rem;
	}
	.column,
	.column-6 {
		flex: 50%;
		max-width: 50%;
	}
	.changes-image {
		margin: 0 auto;
	}
	#changes-image-1{
		margin-right: 5px;
		margin-left:2rem;
		height: 225px;
		width: 150px;
	}

	#changes-image-2 {
		margin-top: 0px;
		height: 225px;
		width: 150px;
	}
	#changes-1,
	#changes-2 {
		padding: 0px 0px !important;
	}
	#changes-1{
		margin-right:50px;
	}
	#changes-2{
		margin-left:50px;
	}
	#mission {
		padding-top: 0;
		margin: 0 0;
	}
	#movement-image-1 {
		height: 239px;
		width: 192px;
	}
	#movement-image-2{
		height: 275px;
		width: 244.79px;
	}
	.content {
		padding: 30px 10px;
	}
	.header {
		width: 100%;
		height: 100%;
		background-position: 10% 100%;
		background-image: url("../images/bg.jpg");
		background-position:10% 0%;
		background-size: cover;
	}
	.header-content {
		padding: 15rem 2rem;
	}
	.intro {
		padding: 10px 0px !important;
	}
	.intro>p{
		padding: 0 10px 0 0;
	}
	#our-mission{
		margin-top:0em;
	}
}